/*--------------------Welcome Page------------------------------------------*/
#welcomePage {
    height: 100vh;
    width: 100vw;
    display: flex;
    color: #053361;
    background-color: #8ee4af;
}

#frontImg {
    margin-top: 15vh;
    width: auto;
    height: 75vh;
    margin-left: 10vw;
    position: absolute;
}

#frontImgAlt {
    display: none;
}

#appSlogan {
    padding-top: 10vh;
    margin-top: 5vh;
    font-size: 2.5em;
    text-align: center;
    position: absolute;
    z-index: 1;
}

#moveDown {
    height: 10vh;
}

/*-----------CHALLENGE SITE---------------------------------------------------------------------------------------------------------------*/
#FrontPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #5cdb95;
}

/*-----------Front page app demo---------------------------------------------------------------------------------------------------------------*/
#Rooms {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #8ee4af;
}


.slideContainer {
    height: 80vh;
    width: 100vw;
    top: 12vh;
    left: 5vw;
    color: #053361;
    position: relative;
}

.headline {
    font-weight: bolder;
    font-size: 3em;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    width: 80vw;
}

.paragraph {
    /* This has to be over the other.infoText in @media in order for the container to scale on phone */
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 1.5em;
    width: 70vw;
    height: auto;
    padding: 0;
}

.appImg {
    position: absolute;
    right: 8vw;
    top: 26vh;
    height: auto;
    width: 15vw;
    float: right;
}


/*-----------APP SITE---------------------------------------------------------------------------------------------------------------*/
#automation {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #5cdb95;
}

#provider {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #8ee4af;
}

#points {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #5cdb95;
}


/*--------------------------------SIDE NAV --------------------------------------------------*/
@media (min-width: 900px) {

    /* This code only applies when window size is bigger than 900px */
    #sideNav {
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
        color: black;
        position: fixed;
        left: -210px;
        transition: 0.4s;
        padding: 15px;
        z-index: 99;
        width: auto;
        text-decoration: none;
        font-size: 2em;
        border-radius: 0 5px 5px 0;
    }

    #sideNav a {
        text-decoration: none;
    }

    #sideNav img {
        position: relative;
    }

    .sideNavElements {
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
        height: 5vh;
        align-items: center;
        text-align: center;
        padding-left: 50px;
        text-decoration: none;
        background-color: green;
        border-radius: 0 5px 5px 0;
    }

    .sideNavElements:hover {
        margin-top: 2vh;
        height: 5vh;
        left: 0;
        background-color: white;
        border-radius: 0 5px 5px 0;
    }

    #sideNav:hover {
        left: -15px;
    }

    .sideNavElements {
        margin-top: 2vh;
        left: -200px;
        height: 5vh;
        align-items: center;
        text-align: center;
        padding-left: 50px;
        text-decoration: none;
        color: white;
        background-color: green;
        border-radius: 0 5px 5px 0;
    }

    .sideNavElements:hover {
        margin-top: 2vh;
        height: 5vh;
        left: 0;
        background-color: white;
        color: green;
        border-radius: 0 5px 5px 0;
    }

    #sideNav:hover {
        left: -15px;
    }

    /*This class gets added to sideNavElements in JS*/
    .sideNavActive {
        background-color: white;
        color: green;
    }

    #moveDown {
        height: 0;
    }

    #appSlogan {
        font-size: 2.5em;
        text-align: center;
        position: absolute;
        z-index: 1;
    }
    #frontImg {
        padding-right: 1px;
        margin-top: 20vh;
        width: auto;
        height: 80vh;
        margin-left: 35%;
        position: absolute;
    }
}

@media screen and (max-width: 900px) {
    /* This code only applies when window size is smaller than 900px */
    #sideNav {
        display: none;
    }
}

@media screen and (max-width: 500px) {

}
@media (max-width: 800px) {
    #FrontPage,
    #automation,
    #points{
        height: 1000px;
    }
    #Rooms{
        height: 1250px;
    }
    
    #automation{
        height: 160vh;
    }
    #provider{
        height: 1550px;
    }
    #points{
        height: 1210px;
    }

    .appImg{
     margin-top: 0px; 
    position: relative;
    transform: scale(2);
    margin-right: 40vw;
    width: 20vw;
    }
    .paragraph{
        width: 90%;
    }
}
@media (max-height: ***){
    
}