/*--------------------Welcome Page------------------------------------------*/
#welcomePage {
    height: 100vh;
    width: 100vw;
    display: flex;
    color: #053361;
    background-color: #8ee4af;
}

#frontImg {
    margin-top: 15vh;
    width: auto;
    height: 75vh;
    margin-left: 10vw;
    position: absolute;
}

#frontImgAlt {
    display: none;
}

#appSlogan {
    padding-top: 10vh;
    margin-top: 5vh;
    font-size: 2.5em;
    text-align: center;
    position: absolute;
    z-index: 1;
}

#moveDown {
    height: 10vh;
}

/*-----------CHALLENGE SITE---------------------------------------------------------------------------------------------------------------*/
#FrontPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #5cdb95;
}

/*-----------Front page app demo---------------------------------------------------------------------------------------------------------------*/
#Rooms {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #8ee4af;
}


.slideContainer {
    height: 80vh;
    width: 100vw;
    top: 12vh;
    left: 5vw;
    color: #053361;
    position: relative;
    border: solid 1px black;

}

.headline {
    font-weight: bolder;
    font-size: 3em;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    width: 80vw;
    border: solid 1px black;

}

.paragraph {
    /* This has to be over the other.infoText in @media in order for the container to scale on phone */
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 1.5em;
    width: 70vw;
    height: auto;
    padding: 0;
    border: solid 1px black;

}

.appImg {
    position: absolute;
    right: 8vw;
    top: 26vh;
    height: auto;
    width: 15vw;
    float: right;
    border: solid 1px black;

}


/*-----------APP SITE---------------------------------------------------------------------------------------------------------------*/
#automation {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #5cdb95;
}

#provider {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #8ee4af;
}

#points {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #5cdb95;
}


/*--------------------------------SIDE NAV --------------------------------------------------*/
    /* This code only applies when window size is bigger than 900px */
    #sideNav {
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
        color: black;
        position: fixed;
        left: -450px;
        transition: 0.4s;
        padding: 15px;
        z-index: 99;
        width: auto;
        text-decoration: none;
        font-size: 2em;
        border-radius: 0 5px 5px 0;
    }

    #sideNav a {
        color: #053361;
        text-decoration: none;
    }

    #sideNav img {
        position: relative;
    }

    .sideNavElements {
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
        height: 5vh;
        align-items: center;
        text-align: center;
        padding-left: 50px;
        text-decoration: none;
        color: #053361;
        background-color: rgb(233,244,221);
        border-radius: 0 5px 5px 0;
    }

    .sideNavElements:hover {
        margin-top: 2vh;
        height: 5vh;
        left: 0;
        background-color: white;
        border-radius: 0 5px 5px 0;
    }

    #sideNav:hover {
        left: -15px;
    }

    .sideNavElements {
        margin-top: 2vh;
        left: -200px;
        height: 5vh;
        align-items: center;
        text-align: center;
        padding-left: 50px;
        text-decoration: none;
        color: white;
        background-color: rgb(233,244,221);
        border-radius: 0 5px 5px 0;
    }

    .sideNavElements:hover {
        margin-top: 2vh;
        height: 5vh;
        left: 0;
        background-color:  rgb(233,244,221);
        color: #00E000;
        border-radius: 0 5px 5px 0;
    }

    #sideNav:hover {
        left: -15px;
    }

    /*This class gets added to sideNavElements in JS*/
    .sideNavActive {
        background-color:  green;
        color: #00E000;
    }

    #moveDown {
        height: 0px;
    }

    #appSlogan {
        font-size: 2.5em;
        text-align: center;
        position: absolute;
        z-index: 1;
        border: solid 1px black;
    }
    #frontImg {
        padding-right: 1px;
        margin-top: 20vh;
        width: auto;
        height: 80vh;
        margin-left: 35%;
        position: absolute;
    }

@media screen and (max-width: 900px) {
    /* This code only applies when window size is smaller than 900px */
    #sideNav {
        display: none;
    }
    #FrontPage{
        height: 1200px;
    }
    #Rooms{
        height: 1450px;
    }
    #automation{
        height: 1400px;
    }
    #provider{
        height: 1750px;
    }
    #points{
        height: 1410px;
    }

    .appImg{
    position: initial;
    margin-top: 0vh; 
    margin-right: 40vw;
    width: 40vw;
    z-index: 0;
    margin-bottom: 40px;
    }
    .paragraph{
        width: 90%;
        z-index: 0;
    }
    #FrontPage {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        background-color: #5cdb95;
}
@media (max-height: 650px){
    #FrontPage, #automation, #points, #Rooms, #provider{
        height: 600px; 
    }
    .appImg{
        margin-top: 25px;
    }
}
@media (max-height: 700px){
    #sideNav{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    
}