/*--------------------------------SIDE NAV --------------------------------------------------*/
@media (min-width: 900px) { /* This code only applies when window size is bigger than 900px */

    #sideNav{
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
        color: black;
        position: fixed;
        left: -420px;
        transition: 0.4s; 
        padding: 15px; 
        z-index: 99;
        width: auto; 
        text-decoration: none; 
        font-size: 2em; 
        border-radius: 0 5px 5px 0; 
    }
    #sideNav a{
        text-decoration: none;
        padding-right: 3px;
    }
    #sideNav img{
        position: relative;
        padding-left: 3px;
    }
    .sideNavElements {
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
        height: 5vh;
        align-items: center;
        text-align: center;
        padding-left: 50px;
        text-decoration: none;
        border-radius: 0 5px 5px 0;
        color: #053361;
        background-color: #edf5e1;
    }
    .sideNavElements:hover {
        margin-top: 2vh;
        height: 5vh;
        left: 0;
        background-color: #053361;
        color: white;
        border-radius: 0 5px 5px 0;
    }
        #sideNav:hover{
            left: -15px;
        }
                    /*This class gets added to sideNavElements in JS*/
                    .sideNavActive {
                        background-color: #053361;
                        color: white;
                    }
}
@media screen and (max-width: 900px){ /* This code only applies when window size is smaller than 900px */
    #sideNav{
        display: none;
    }
}
@media screen and (max-height: 700px), (max-width: 900px) {
    #sideNav{
        display: none;
    }
}

/*--------------------Welcome Page------------------------------------------*/
#welcomePage {
    height: 100vh;
    width: 100vw;
    color: #053361;
    background-color: #8ee4af;
}
    .welcomeQuote {
        background-color: #5cdb95;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        font-family: "Bodoni 72", serif;
        letter-spacing: 1px;
        line-height: 40px;
        position: relative;
        top: 43vh;
        margin: auto 0;
        padding: 5px 0;
    }
        .quote {
            word-break: break-word;
            margin-left: 10vw;
            margin-right: 10vw;
        }
        

/*-----------ALL THE SITES---------------------------------------------------------------------------------------------------------------*/
#page1, #page2, #page3, #page4{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: #053361;
}
    .contentContainer {
        height: 80vh;
        width: 60vw;
        margin: 10vh 45px 0;
    }
    /*Text*/
    .paragraph {
        letter-spacing: 1px;
        line-height: 1.3em;
        font-size: 1.5em;
        width: 90vw;
        padding: 0;
        height: auto;
    }
    /* Headline */
    .headline {
        font-weight: bolder;
        font-size: 3em;
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
        width: 80vw;
        border: solid black 1px;
    }
.readMorebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 159px;
    background-color: #053361;
    border-radius: 100vw;
    color: white;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 2em;
    padding: 0 1.3em;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    left: 10vw;
    top: 20vh;
}
    .readMorebtn:hover {
        transition: box-shadow 0.2s;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
.contentImg {
        right: 15vw;
        top: 45vh;
        height: auto;
        width: 15vw;
        float: right;
        border-radius: 25px;
    }

/*-----------SITE1---------------------------------------------------------------------------------------------------------------*/
#page1 {
    background-color: #5cdb95;
}

/*-----------SITE2---------------------------------------------------------------------------------------------------------------*/
#page2 {
    background-color: #8ee4af;
}
    .challengeImage2 {
    height: 350px;
    width: 230px;
    position: absolute;
    left: 70vw;
    top: 250vh;
}
/*-----------SITE3---------------------------------------------------------------------------------------------------------------*/
#page3 {
    background-color: #5cdb95;
}

/*-----------SITE3---------------------------------------------------------------------------------------------------------------*/
#page4 {
    background-color: #8ee4af;
}

/*When the browser-width is under 900px*/
@media (max-width: 900px) {
    /*Makes the images not displayed*/
    .contentImg{
        display: none;
    }

/*Makes the text take all of the width*/
        .contentContainer {
            width: 100%;
            margin-right: 10vw;
        }

}

/*When the browser width is 650px or lower*/
@media (max-width: 650px) {
    .contentContainer {
        font-size: 75%;
    }

    #welcomePage {
        height: 100vh;
        font-size: 80%;
    }
        .welcomeQuote {
            top: 20vh;
            line-height: 35px;
        }

}

/*When the browser width is 650px or lower*/
@media (max-width: 375px) {
    .contentContainer {
        font-size: 65%;
    }

    .welcomeQuote {
        top: 10vh;
    }
}

/*When the browser width is 650px or lower*/
@media (max-height: 650px) {
    .welcomeQuote {
        top: 5vh;
    }
    #page1{
        height: 120vh;
    }
    #page2 {
        height: 180vh;
    }
}
@media screen and (max-height: 500px) {

    #welcomePage,
    #page1,
    #page2,
    #page3,
    #page4 {
        position: relative;
        height: 800px;
    }
}
@media(min-width: 1500px){
    .paragraph{
        font-size: 2em;
        line-height: 1.8em;
    }
    .headline{
        font-size: 4.5em;
    }
}
@media screen and (max-width: 900px) {

    /* This code only applies when window size is smaller than 900px */
    #sideNav {
        display: none;
    }

    /*----------1st SITE along with the <p> elements---------------------------------------------------------*/
    #challengeSite {
        min-height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        background-color: #5cdb95;
    }

    /*Written Content*/
    /* Headline */
    .headline {
        font-weight: bolder;
        font-size: 3em;
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
        width: 80vw;
    }

    /*Text*/
    .paragraph {
        letter-spacing: 1px;
        line-height: 1.3em;
        font-size: 1.5em;
        width: 90vw;
        padding: 0;
        height: auto;
    }
}