/*--------------------------------SIDE NAV --------------------------------------------------*/
@media (min-width: 900px) { /* This code only applies when window size is bigger than 900px */

    #sideNav{
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
        color: black;
        position: fixed;
        left: -415px;
        transition: 0.4s; 
        padding: 15px; 
        z-index: 99;
        width: auto; 
        text-decoration: none; 
        font-size: 2em; 
        border-radius: 0 5px 5px 0; 
    }
    #sideNav a{
        text-decoration: none;
        padding-right: 3px;
    }
    #sideNav img{
        position: relative;
        padding-left: 3px;
    }
    .sideNavElements{
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
        height: 5vh;
        align-items: center;
        text-align: center;
        padding-left: 50px;
        text-decoration: none;
        background-color: green;
        border-radius: 0 5px 5px 0; 
    }
    .sideNavElements:hover{
        margin-top: 2vh;
        height: 5vh;
        left: 0px;
        background-color: white;
        border-radius: 0 5px 5px 0;
    }
    #sideNav:hover{
        left: -15px;
    }
        .sideNavElements{
            margin-top: 2vh;
            left: -200px;
            height: 5vh;
            align-items: center;
            text-align: center;
            padding-left: 50px;
            text-decoration: none;
            color: white;
            background-color: green;
            border-radius: 0 5px 5px 0;
        }
            .sideNavElements:hover{
                margin-top: 2vh;
                height: 5vh;
                left: 0px;
                background-color: white;
                color: green;
                border-radius: 0 5px 5px 0;
            }
                #sideNav:hover{
                    left: -15px;
                }
                    /*This class gets added to sideNavElements in JS*/
                    .sideNavActive {
                        background-color: white;
                        color: green;
                    }
}
@media screen and (max-width: 900px){ /* This code only applies when window size is smaller than 900px */
    #sideNav{
        display: none;
    }
}
@media screen and (max-height: 700px), (max-width: 900px) {
    #sideNav{
        display: none;
    }
}

/*--------------------Welcome Page------------------------------------------*/
#welcomePage {
    height: 100vh;
    width: 100vw;
    color: #05386B;
    background-color: #8ee4af;
}
    .welcomeQuote {
        background-color: #5cdb95;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        font-family: "Bodoni 72", serif;
        letter-spacing: 1px;
        line-height: 40px;
        position: relative;
        top: 43vh;
        margin: auto 0;
    }
        .quote {
            word-break: break-word;
            margin-left: 10vw;
            margin-right: 10vw;
        }

/*-----------ALL THE SITES---------------------------------------------------------------------------------------------------------------*/
#page1, #page2, #page3{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: #05386B;
}

    .contentContainer {
        height: 80vh;
        width: 60vw;
        margin: 10vh 45px 0;
    }
        .pageHeadline {
            font-weight: bolder;
            font-size: 3em;
            font-style: normal;
            text-align: center;
            text-transform: uppercase;
        }
        .contentPage {
            letter-spacing: 1px;
            line-height: 1.7em;
            font-size: 1.5em;
            height: auto;
        }
/*-----------SITE1---------------------------------------------------------------------------------------------------------------*/
#page1 {
    background-color: #5cdb95;
}
    .climateGraphImg {
        height: 400px;
        width: 340px;
        position: relative;
        top: 28vh;
    }

/*-----------SITE1---------------------------------------------------------------------------------------------------------------*/
#page2 {
    background-color: #8ee4af;
}

/*-----------APP SITE---------------------------------------------------------------------------------------------------------------*/
#page3 {
    background-color: #5cdb95;
}