/*--------------------------------SIDE NAV --------------------------------------------------*/
@media (min-width: 900px) { /* This code only applies when window size is bigger than 900px */

  #sideNav{
      display: flex;
      flex-direction: column;
      margin-top: 20vh;
      color: black;
      position: fixed;
      left: -375px; 
      transition: 0.4s; 
      padding: 15px; 
      z-index: 99;
      width: 28vw; 
      text-decoration: none; 
      font-size: 2em; 
      border-radius: 0 5px 5px 0; 
  }
  #sideNav a{
      text-decoration: none;
  }
  #sideNav img{
      position: relative;
  }
  .sideNavElements{
      display: flex;
      justify-content: space-between;
      margin-top: 2vh;
      height: 5vh;
      align-items: center;
      text-align: center;
      padding-left: 50px;
      text-decoration: none;
      background-color: green;
      border-radius: 0 5px 5px 0; 
  }
  .sideNavElements:hover{
      margin-top: 2vh;
      height: 5vh;
      left: 0px;
      background-color: white;
      border-radius: 0 5px 5px 0;
  }
  #sideNav:hover{
      left: -15px;
  }
      .sideNavElements{
          margin-top: 2vh;
          left: -200px;
          height: 5vh;
          align-items: center;
          text-align: center;
          padding-left: 50px;
          text-decoration: none;
          color: white;
          background-color: green;
          border-radius: 0 5px 5px 0;
      }
          .sideNavElements:hover{
              margin-top: 2vh;
              height: 5vh;
              left: 0px;
              background-color: white;
              color: green;
              border-radius: 0 5px 5px 0;
          }
              #sideNav:hover{
                  left: -15px;
              }
                  /*This class gets added to sideNavElements in JS*/
                  .sideNavActive {
                      background-color: white;
                      color: green;
                  }
}
@media screen and (max-width: 900px){ /* This code only applies when window size is smaller than 900px */
  #sideNav{
      display: none;
  }
}
@media screen and (max-height: 700px), (max-width: 900px) {
  #sideNav{
      display: none;
  }
}
/*-----------------------------------------------*/
/*FAQ*/
/*Faq div*/
#faqDiv {
  padding-top: 10vh;
  background-color: #5cdb95;
}
#faq {
  height: 100vh;
  width: 100vw;
  padding: 2vh 10vw 0 10vw;
}
#faq p{
  border: solid black 1px;
  width: 60vw;
  font-size: 1.5em;
}
#faqHeadline {
  text-align: center;
  color: green;
  font-size: 3em;
  }
#faqSubHeadline{
  text-align: center;
  font-size: 2em;
}

/*the titel on the faq page*/
.faq_titel 
/*content on the faq page*/
.faq_content {
text-align: center;
color: green;
}

/* Buttons on the faq panels */
.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  text-align: center;
  margin: 0 10%;
}

  /* changes the color of the panel when hovering over */
  .active1, .accordion:hover {
    background-color: #ccc;
  }

/* answer bar */
.panel {
  text-align: center;
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  width: 40%;
}

/* changes from + sign to -*/
.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active1:after {
  content: "\2796"; 
}
/*------------------------------------------*/
/*Employee cards*/

/*Name tag for the employee*/
.empName {
  font-size: 2.3em;
  margin-top: -2vh;
  margin-left: 2vh;

}
/*Role of the employee*/
.empl_role {
  font-size: 1em;
  color: grey;
  margin-left: 2vh;
  margin-top: -2vh;

}
/*text under the employee role*/
.empl_text {
  font-size: 1em;
  margin-left: 2vh;
}
/*Image of the employee*/
.empImg {
  height: auto;
  width: 45vh;
  margin: 20px
}

/*the flex containers that creates the cards*/
.empContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
  margin-right: 8%;
}

/* styling the containers */
.empContainer > div {
  background-color:white;
  box-shadow: 0 4px 8px 0 green;
  width: 50vh;
  height: auto;
  margin-right: 5vh;
  text-align: left;
  margin-bottom: 4vh;
  align-self: center;
}


@media (max-width: 1300px) {
  .empContainer {
    flex-direction: column;
  }

  .empContainer > div {
  align-self: center;
}
}
/*-------------------------------------------*/
/* costumer support part of the page */
/*creates the costumer support "card"*/
.cost {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: green;
  background-color: white;
  border-top: 1px solid #e5e5e5;
}

.cost > * {
    flex: 1 100%
}

/* Titles in the card*/
.cost_title {
  font-size: 2em;
  font-weight: bold;
}
.cost_title2{
    text-align: center;
}

/*Styles the Ul tags*/
.cost_ul {
  list-style: none;
  padding-left: 0;
}

.cost_ul a {
  color: #454545;
  font-size: 20px;
}

.cost_ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

/*styles the li tags*/
.cost_li {
  line-height: 3em;

}

/*Styles the links*/
.cost a {
  text-decoration: none;
}

/*navigation menu on the footer*/
.cost_nav {
  display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.cost_nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

/*Makes the footer flex*/
@media screen and (min-width: 40.375em) {
  .cost_nav > * {
    flex: 1;
  }

  .cost_item--extra {
    flex-grow: 2;
  }


  .cost_nav {
    flex: 2 0;
  }
/*styles the telefon number*/
.cost_tlf{
    font-size: 20px;
}
}

