/*--------------------------------SIDE NAV --------------------------------------------------*/
/*InfoText*/
.paragraph {
  /* This has to be over the other.infoText in @media in order for the container to scale on phone */
  letter-spacing: 1px;
  line-height: 1.5em;
  font-size: 1.5em;
  width: 70vw;
  height: auto;
  padding: 0;
}
#sideNav {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  color: black;
  position: fixed;
  left: -330px;/*Places it off screen*/
  transition: 0.4s;
  padding: 15px;
  z-index: 99;
  width: auto;
  text-decoration: none;
  font-size: 2em;
  border-radius: 0 5px 5px 0;
}
.sideNavElements {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
  height: 5vh;
  align-items: center;
  text-align: center;
  padding-left: 50px;
  text-decoration: none;
  border-radius: 0 5px 5px 0;
  color: #053361;
  background-color:  #edf5e1;
}
.sideNavElements:hover {
  margin-top: 2vh;
  height: 5vh;
  left: 0;
  background-color: #053361;
  border-radius: 0 5px 5px 0;
  color:white;
}


/* Moves the menu into view when you hover over it */
#sideNav:hover {
  left: -15px;
}

/*This class gets added to sideNavElements in JS*/
.sideNavActive {
  background-color:#053361;
  color: white;
}

@media screen and (max-width: 900px) {

  /* This code only applies when window size is smaller than 900px */
  #sideNav {
      display: none;
  }
}
/*-----------------------------------------------*/
/*FAQ*/
/*Faq div*/
#faqDiv {
  padding-top: 10vh;
  background-color: #5cdb95;
  color: #053361;
}
#faq {
  height: auto;
  width: 100vw;
  padding: 2vh 10vw 3vw 10vw;
}
  #faq p{
    border: solid black 1px;
    width: 60vw;
    font-size: 1.5em;
  }
    #faq h1 {
      margin-right: 10vw;
    
    }

#faqHeadline {
  text-align: center;
  font-size: 3em;
  }

#faqSubHeadline{
  text-align: center;
  font-size: 2em;
}

/*-------------------------------------------*/
/* costumer support part of the page */
/*creates the costumer support "card"*/
.cost {
  color: #053361;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  background-color: #8EE4AF;
  width: 100vw;
  
}
  .cost > * {
    flex: 1 100%
  }

/* Titles in the card*/
.costTitle {
  list-style: none;
  font-size: 2em;
  font-weight: bold;
}
.costTitle2{
    list-style: none;
    text-align: center;
    margin-right: 10vw;
  margin-left: 10vw;
}

/*Styles the Ul tags*/
.cost ul {
  list-style: none;
  padding-left: 0;
  margin-right: 10vw;
  margin-left: 10vw;
  
}

  .cost ul a {
   color: #454545;
   font-size: 20px;
   color: #053361;
  }

    .costul--extra {
      column-count: 2;
      column-gap: 1.25em;
      }

/*styles the li tags*/
.costli {
  line-height: 3em;
  
}

/*styles the telefon number*/
.costTlf{
  font-size: 20px;
}

/*Styles the links*/
.cost a {
  text-decoration: none;
}

/*navigation menu on the footer*/
.costNav {
  display: flex;
    flex-flow: row wrap;
    text-align: center;
    
    
}
    .costNav > * {
    flex: 1 50%;
    margin-right: 1.25em;
    }

/*Makes the footer flex*/
@media screen and (min-width: 40.375em) {
  .costNav > * {
    flex: 1;
  }

  .costItem--extra {
    flex-grow: 2;
  }

  .costNav {
    flex: 2 0;
  }
}
@media(min-width: 1500px){
  .paragraph{
      font-size: 2em;
      line-height: 1.8em;
  }
  .headline{
      font-size: 4.5em;
  }
}

