/*Makes the whole page scroll smooth when links is clicked and navigating to elements*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /*Cover whole site*/
    font-family: Helvetica, serif;
    /*Font type*/
    overflow-x: hidden;
    /*Makes it impossible to scroll sideways*/
}

/*---------------Custom Scrollbar------------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*---------------------------------------------------Nav--------------------------------------------------------------------------*/
@media (min-width: 900px) {

    /* This code only applies when window size is bigger than 900px */
    /* Hamburger nav (Only visible in format < 900px)*/
    .hamMenu {
        display: none;
    }

    header {
        background-color: white;
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        box-shadow: 1px 1px 7px 2px green;
        z-index: 99;
        user-select: none;
    }

    /*Header Logo*/
    #headerLogo {
        height: 10vh;
        width: auto;
        margin-left: 0.5VW;
    }

    /*MENU*/
    #headerMenu {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-grow: 1;
        align-items: center;
        margin-right: 5vw;
    }

    .menuLi {
        font-size: 2em;
        text-transform: uppercase;
    }

    .menuLi a {
        padding-bottom: 5px;
        text-decoration: none;
        color: green;
    }

    /*creates green line after/under the element and adds transition when hovered */
    .menuLi a::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: green;
        transition: width .5s;
    }

    /*When the element above i hovered the width is adjusted to 100% of menuLi a*/
    .menuLi a:hover::after {
        width: 100%;
    }

    /*Finds class that contains active*/
    li[class*="active"] {
        border-bottom: 3px solid green;
        transition: ease;
    }

    /*Removes the border when the already active class is hovered. Prevents double underline*/
    li[class*="active"]:hover {
        border-bottom: none;
    }
}

@media screen and (max-width: 900px) {

    /* This code only applies when window size is smaller than 900px */
    #toTop {
        display: none;
    }

    #hamburgerMeny {
        margin-top: 15px;
        margin-left: 15px;
    }

    #line1,
    #line2,
    #line3 {
        transform-origin: top;
        transition: 0.4s;
    }

    #line0:hover {
        color: green;
        cursor: pointer;
    }

    .hamMenu {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 3px;

    }

    header {
        background-color: white;
        width: 100%;
        height: auto;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 1px 1px 7px 2px green;
        z-index: 2;
        user-select: none;
    }

    /*Header Logo*/
    #headerLogo {
        display: none;
    }

    /*MENU*/
    #headerMenu {
        display: none;
        background-color: inherit;
        width: 100%;
        list-style-type: none;
        flex-direction: column;
        margin-right: 50px;
        margin-top: 15px;
    }

    .menuLi {
        margin-top: 25px;
        font-size: 2em;
        padding-left: 0;
        padding-right: 50px;
        text-transform: uppercase;
        border-bottom: 3px solid springgreen;
    }

    /*selects only the last <li> element*/
    .menuLi:last-child {
        margin-bottom: 20px;
    }

    .menuLi a {
        text-decoration: none;
        color: green;
    }

    .menuLi:hover {
        border-bottom: 3px solid green;
        transform: scale(1.05);
        transition: transform 0.1s;
    }

    /*Finds class that contains active*/
    li[class*="active"] {
        border-bottom: 3px solid green;
        transition-delay: .5s;
        transition-duration: .05s;
        transition: ease;
    }

    /*Removes the border when the already active class is hovered. Prevents double underline*/
    li[class*="active"]:hover {
        border-bottom: none;
    }
}

@media screen and (max-height: 700px) and (max-width: 900px) {
    header {
        height: auto;
    }

    #headerLogo {
        height: 69px;
        width: auto;
    }
}

@media screen and (max-height: 700px) and (min-width: 900px) {
    header {
        height: 70px;
    }

    #headerLogo {
        height: 69px;
        width: auto;
    }
}


/*------------------------------------------------------------------*/
/* ToTop button */
#toTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 50px;
    border-radius: 4px;
    opacity: 65%;
    z-index: 3;
}

#toTop:hover {
    opacity: 100%;
}

/*----------------------------------------------------------------------*/