/*The first two sites*/
body{
    background-color:  #5cdb95;
}
body > div {
    height: auto;

}
#InfoContent, #ImageContent{
    background-color: #5cdb95;
    color: #053361;
    border: 1px solid #376E6F;
    position: relative;
    top: 10vh;
}
/*Sources Information div*/
#InfoContent {
    width: 100vw;
    word-break: break-all;
}
/*Sources Images div*/
#ImageContent {
    height: auto;
    width: 100vw;
}
    /*Headline on pages*/
    .sourcesHeadline {
        padding: 9px 35px;
    }
    /*Undertitle on some pages*/
    .sourcesSubtitle {
        position: relative;
        word-break: break-word;
        left: 7vw;
        margin-right: 10vw;
        display: flex;
    }
        /*The shapes with info inside*/
        .sourcesInfo {
            width: 75vw;
            align-self: center;
            height: 15vh;
            padding: 4vh;
            margin-bottom: 8vh;
            margin-left: 4vw;
            background-color: lightgrey;
            border: 1px solid black;
            display: flex;
        }
        /*Selects the last element*/
        .sourcesInfo:last-child {
            margin-bottom: 40px;
        }
                .sourcesInfoName {
                    font-weight: bold;
                    position: relative;

                }
                    .sourcesLinkText {
                        position: relative;
                        top: 10vh;
                        height: 3vh;
                        text-decoration: none;
                        color: inherit;
                    }
                        .sourcesLink {
                            position: relative;
                            left: 2vw;
                            text-decoration: none;
                            color: inherit;
                            word-break: break-all;
                        }
                            .sourcesAuthor {
                                position: relative;
                                top: 10vh;
                            }
                                .sourcesDate {
                                    position: relative;
                                    top: 10vh;
                                    padding-left: 5vw;
                                }

    .sourceImg {
        height: 12vh;
        width: 8vw;
        position: absolute;
        right: 18vw;
    }

#meetingsContent, #sourceGroupContent {
    height: auto;
    width: 100vw;
    background-color: #5cdb95;
    color: #053361;
    border: 1px solid #376E6F;
    position: relative;
}
#meetingsContent {
    position: relative;
    top: 10vh;
}
    .listMeetGroup {
            line-height: 10vh;
            margin-left: 12vw;
        }
    .listMeetGroup1 {
        height: 40vh;
        margin-top: 10vh;
        line-height: 8vh;
        margin-left: 12vw;
    }

    .listMeetGroup a{
        text-decoration: none;
        color: #053361;
    }

.sourcesHeadline1 {
    position: relative;
    top: 10vh;
    padding: 9px 35px;
}

@media (max-width:700px){
    .sourcesInfo{
        height: 25vh;
    }
    #InfoContent{
        margin-bottom: 100vh;
        border-bottom: none;
    }
    #ImageContent{
        margin-bottom: 170vh;
        border-bottom: none;
    }
}
/*-------------------------NAV on site----------------------------------------------------------------*/
.sourceMenu {
    position: relative;
    left: 2px;
    right: 2px;
    z-index: 1;
}

/*custom made to fit last page */
.sourceMenu1 {
    position: relative;
    left: 2px;
    right: 2px;
    top: 10vh;
    z-index: 1;
}
    .sourceMenuUl {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        height: auto;
        color: #25274D;
        border-bottom: 2px solid green;
    }
        .sourceMenuLi {
            padding: 5px;
        }
            .sourceMenuLi a{
                text-decoration: none;
                color: inherit;
            }
                .sourceMenuLi:hover {
                    transform: scale(1.1);
                }
                    .siteNavDisplayed {
                        font-weight: bold;
                        font-size: larger;
                    }
@media (max-width: 700px) {
    .sourceMenuUl {
        flex-direction: column;
        border-bottom: none;
        font-size: 1.6em;
    }
        .sourceMenuLi a{
            width: 70vh;
            border-bottom: 1px solid green;
            padding: 5px;
        }
        .sourceMenuLi {
            padding: 3vh 0;
        }
            .sourceMenuLi:hover {
                transform: scale(1.01);
            }
/*Sources Information div*/
#InfoContent {
        height: 300vh;
        width: 100vw;
        word-break: break-word;
    }
/*Sources Images div*/
#ImageContent {
        height: 580vh;
        width: 100vw;
    }
#InfoContent, #ImageContent {
        top: 4vh;
    }
    #meetingsContent{
        top: 0;
    }
}
@media (max-width: 400px) {
.sourcesInfoName {
    font-size: 80%;
    word-break: break-all;
}

